/* CSS declarations go here */

.radio {
  display: inline;
  margin: 0;
  padding: 0;
}

.radio input {
  display: none;
}

.label-text {
  text-transform: capitalize;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px #ddd solid;

  border-radius: 5px;

  &:hover {
    border-color: darken(#428bca, 5%);
  }
}

:checked + .label-text {
  border-color: darken(#428bca, 5%);
  background-color: lighten(#428bca, 40%)
}

.question {
  margin: 40px 0;

  h4 {
    margin-bottom: 20px;

    small {
      margin-left: 20px;
    }
  }
}

.demographics {
  td {
    padding-bottom: 10px;
  }

  td:first-child {
    text-align: right;
    padding-right: 10px;
    width: 200px;
  }
}